<div class="navbar-container">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <div class="flex align-items-center gap-2" (click)="redirectHome()">
        <i class="pi pi-database text-2xl text-primary"></i>
        <span class="font-bold text-xl">GestionBD</span>
      </div>
    </ng-template>
    
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-3">
        {{username()}}
        <p-avatar class="pi pi-user" shape="circle" ></p-avatar>
      </div>
    </ng-template>
  </p-menubar>
</div>
